<section id="photos" class="main-section row hidden-print">

	<h1 class="ribbon text-center">Photos</h1>

	<!-- ko if: app.getDaysToWedding() > 0 -->
	<p class="text-center">Nothing here yet, but come back in <span data-bind="text: app.getDaysToWedding()"></span> days for a few snaps</p>
	<hr>
	<!-- /ko -->

	<div>
		<img src="http://placekitten.com/340/200" alt="..." class="img-responsive img-thumbnail">
		<img src="http://placekitten.com/340/200" alt="..." class="img-responsive img-thumbnail">
		<img src="http://placekitten.com/340/200" alt="..." class="img-responsive img-thumbnail">
	</div>
	<br/>

	<p class="text-center">If you tag Lucy or James in any photos on Facebook, or use the hashtag #lucyandjameswedding on Twitter or Flickr, we'll add your pictures here :-)</p>
	<hr>

</section>