<section id="location" class="main-section row">
			
	<h1 class="ribbon text-center">Location</h1>
	
	<div class="col-md-3">
		<address id="church-address">
			<strong>Dromquinna Manor</strong><br>
			Kenmare<br>
			Co. Kerry<br>
			<a href="tel:+353646642888">(064) 664 2888</a><br>
			<a href="http://www.dromquinnamanor.com/" target="_blank">www.dromquinnamanor.com</a>
		</address>
	</div>
	<div class="col-md-9">
		<div id="church-map"></div>
		<br>
		<button class="btn btn-primary hidden-print pull-right" data-bind="click: printMap">Print</button>
	</div>

</section>